button{
    display: block;
    margin: 5px auto;
    width: 70%;
    border-radius: 10px;
    background-color: rgb(241, 163, 68);

    font-size: 18px;
    text-align: center;
}

button:hover{
    background-color: rgb(255, 241, 224);
}

button:active{
    background-color: rgb(218, 255, 130);
}