body{
    background-color: rgb(254, 238, 218);
}

*{
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-container{
    border: 2px solid rgb(250, 224, 193);
    box-shadow: -10px 11px 12px 4px rgba(196, 159, 121, 0.2);
    margin: 10px auto;
    padding: 20px;
    height: 91vh;
    width: 500px;
    
    background-color: rgb(255, 228, 196);
    border-radius: 20px;
}